@if(userProfile(); as profileData) {
    <div class="profile-page">
        <div class="user-info">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 offset-md-1">
                        <profile-image [profileImage]="profileData.image" size="100"></profile-image>
                        <h4>{{ profileData.username }}</h4>
                        <p>{{ profileData.bio }}</p>
                        
                        @if(isCurrentUser()) {
                            <div class="flex justify-end">
                                <a class="px-6 py-2 !text-gray-03 border border-gray-03 hover:bg-gray-03 transition-colors" routerLink="/settings">
                                    Edit Profile Settings
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <div class="articles-toggle">
                        <ul class="nav nav-pills outline-active">
                            <li class="nav-item">
                                <a 
                                    [routerLink]="['/profiles', profileData.username]" 
                                    class="nav-link" 
                                    routerLinkActive="active" 
                                    [routerLinkActiveOptions]="{exact: true}"
                                >
                                    My Posts
                                </a>
                            </li>
                            <li class="nav-item">
                                <a 
                                    [routerLink]="['/profiles', profileData.username, 'favorites']" 
                                    class="nav-link" 
                                    routerLinkActive="active" 
                                    [routerLinkActiveOptions]="{exact: true}"
                                >
                                    Favorites Posts
                                </a>
                            </li>
                        </ul>
                    </div>
                    <feed [apiUrl]="getApiUrl()"></feed>
                </div>
            </div>
        </div>
    </div>
}